<footer class="legacy-site-footer">
  <div class="legacy-container">
    <p class="legacy-footer-main">
      <span>&copy; {{ now.Year }} &middot; Dezhi Yu</span>
      <a href="#top" class="legacy-back-to-top" aria-label="Back to top">
        {{ partial "functions/get_icon" (dict "name" "chevron-up" "attributes" "class='legacy-back-to-top-icon'") }}
      </a>
    </p>
    <p class="legacy-statistics">
      <span id="busuanzi_container_site_pv">
        Cumulative Page Views <span id="busuanzi_value_site_pv">Loading...</span>
        &nbsp;|&nbsp;
        Unique Visitors <span id="busuanzi_value_site_uv">Loading...</span>
      </span>
    </p>
  </div>
</footer>
