<footer class="site-footer">
  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
  <p class="powered-by">
    {{ with site.GetPage "privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "terms.md" }}
      {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
  </p>
  {{ end }}

  <!-- add style="font-size: 1rem;" -->
  <p class="powered-by" style="font-size: 1rem;">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}

    <!-- add style="font-size: 1rem;" -->
    <span class="float-right">
      <a href="#" class="back-to-top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x" style="font-size: 1.8rem;"></i>
        </span>
      </a>
    </span>
  </p>

  <p class="copyright statistics" style="font-size: 0.9rem;">
    <span id="busuanzi_container_site_pv">Cumulative Page Views <span id="busuanzi_value_site_pv"></span>&nbsp; | Unique Visitors <span id="busuanzi_value_site_uv"></span></span>
  </p>
  {{/* Display copyright license. */}}
  {{ partial "site_footer_license" . }}
</footer>
